# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Personal archived
_workspace_/
_saved_/
_temp_/
messages.mo
mods/patch/
mods/splited/
mods/merged/
users/test/

# Build artifacts
build/
dist/
*.egg-info/
*.so

# IDE specific
.vscode/
.idea/
*.swp

# Environment files
.env
.venv/
venv/

# System files
.DS_Store
Thumbs.db
node_modules
